* {
  box-sizing: border-box;
}

body {
  background: #353535;
  color: #FFFCF9;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #DA3F62;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  transition: all 300ms ease-in-out;
  font-size: 1rem;
}
a:hover {
  color: #e26a85;
}

.serif {
  font-family: 'Lora', serif;
}
.serif .game-letter {
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.game {
  background: #424242;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-height: 600px;
  position: relative;
  overflow: hidden;
}
.game__board {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
}
.game__score {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 1rem;
}
.game__timer {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 1rem;
}
.game__words {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  text-align: center;
}
.game__words p {
  font-size: 1rem;
}

.emoji {
  font-family: Arial, Helvetica, sans;
  margin-left: 10px;
  font-size: 2rem;
  vertical-align: middle;
}

.game-letter {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 700;
}
.game-letter[data-correct="true"] {
  color: #DA3F62;
}
.game-letter[data-correct="false"] {
  background: #F3B61F;
}
@media screen and (min-width: 768px) {
  .game-letter {
    font-size: 4rem;
  }
}

p {
  font-size: 1.4rem;
  text-align: center;
}

.button {
  background: transparent;
  border: 2px solid #FFFCF9;
  border-radius: 4px;
  color: #FFFCF9;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 8px 20px;
  display: block;
  margin: 40px auto;
  transition: all 400ms ease-in-out;
}
.button:hover {
  border: 2px solid #DA3F62;
}

.secret-input {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.fade-enter {
  opacity: .01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: .01;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  transition: all 500ms ease-in-out;
}

.scale-enter {
  opacity: .01;
}

.scale-enter.scale-enter-active {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.scale-leave {
  opacity: 1;
}

.scale-leave.scale-leave-active {
  opacity: .01;
  -webkit-transform: scale(3) rotate(20deg);
          transform: scale(3) rotate(20deg);
  tranform-origin: bottom;
  transition: all 500ms ease-in-out;
}
